<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Bus_Vis</title>

    <script src="static/lib/jquery/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="static/leaflet/leaflet.css">

    <script src="static/leaflet/leaflet.js"></script>

    <script src="static/leaflet/leaflet-src.js"></script>

    <script src="static/mapbox/mapbox-gl.js"></script>

    <link rel="stylesheet" href="static/mapbox/mapbox-gl.css">

    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<!--    <script src="static/mapbox/mapbox.js"></script>

    <link rel="stylesheet" href="static/mapbox/mapbox.css">-->


</head>

<div id="all_view">

    <div id="control"></div>

    <div id="main"></div>

    <div id="information"></div>

    <div id="time_line"></div>

    <div id="area_line"></div>

</div>

    <link rel="stylesheet" href="static/css/all_view.css">

    <link rel="stylesheet" href="static/css/control.css">

    <link rel="stylesheet" href="static/css/main.css">

    <link rel="stylesheet" href="static/css/information.css">

    <link rel="stylesheet" href="static/css/time_line.css">

    <link rel="stylesheet" href="static/css/area_line.css">

    <script src="static/js/layout.js"></script>

    <script src="static/js/main.js"></script>

    <script src="static/js/init_data.js"></script>

</html>
