<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Bus_Vis</title>

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />

    <script src="static/lib/jquery/jquery-3.1.1.min.js"></script>

    <script src="static/lib/d3/d3.min.js"></script>

    <!--    <script src="static/lib/d3.layout.cloud.js"></script>-->

    <!--   <link rel="stylesheet" href="static/leaflet/leaflet.css">

    <script src="static/leaflet/leaflet.js"></script>

    <script src="static/leaflet/leaflet-src.js"></script>-->

    <script src="static/mapbox/mapbox-gl.js"></script>

    <link rel="stylesheet" href="static/mapbox/mapbox-gl.css">

    <!--<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>

    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />-->

    <script src="static/lib/dat.gui/dat.gui.js"></script>

    <link rel="stylesheet" href="static/css/lib/dat.gui.css">

    <script src="static/mapbox/mapbox.js"></script>

    <link rel="stylesheet" href="static/mapbox/mapbox.css">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.css">

    <!--    <script src="static/bootstrap/js/bootstrap.js"></script>-->

    <script src="static/lib/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="static/css/lib/Ecalendar.jqery.min.css">

    <script src="static/lib/Ecalendar.jquery.min.js"></script>


</head>

<div id="header">
    <span class="title">Bus_Vis</span>
    <span class="glyphicon glyphicon-time" style="float: right;color:#FFF;margin-right: 10px"></span>
    <span class="time"></span>
</div>

<div id="all_view">
    <div id="control&calendar" style="float: left">
        <div id="control"></div>
        <div id="calendar"></div>
        <div id="spiral_line">
            <div style="z-index: 999;position: absolute;float:left;">
            <span class="label label-default" ><img src="static/img/font-565.png" height="20" width="20"/><a id="spiral_route" style="color: #FFFFFF"></a></span>
            </div>
        </div>
    </div>

    <div id="main"></div>

    <div id="information">

        <span class="label label-default">当前站</span>
        <span class="label label-default" style="background-color: #d62323;">&nbsp;<span id="current_station" class="glyphicon glyphicon-map-marker" >建国门</span>&nbsp;</span>
        <br>
        <br>
        <span class="label label-default"><img src="static/img/font-565.png" height="20" width="20"/>&nbsp;公交路线数&nbsp;<span class="badge pull-center" style="background:#FFF"><a id="routes_number"></a></span></span>

    </div>

    <div id="message_cloud"></div>

    <div id="radar" >
        <div style="z-index: 999;position: absolute;float:left;">
                <span class="label label-default">
                <span id="radar_station" class="glyphicon glyphicon-map-marker" ></span>
                </span>
                <span id="route_labels" class="label label-default" style="visibility: hidden">
                <span id="route_label" class="glyphicon glyphicon-circle-arrow-right" >&nbsp;</span>
                </span>
        </div>
    </div>

    <div id="time_line">
    </div>
</div>

<link rel="stylesheet" href="static/css/all_view.css">

<link rel="stylesheet" href="static/css/control.css">

<link rel="stylesheet" href="static/css/calender.css">

<link rel="stylesheet" href="static/css/spiral_line.css">

<link rel="stylesheet" href="static/css/main.css">

<link rel="stylesheet" href="static/css/information.css">

<link rel="stylesheet" href="static/css/message_cloud.css">

<link rel="stylesheet" href="static/css/time_line.css">

<link rel="stylesheet" href="static/css/radar.css">

<script src="static/js/layout.js"></script>

<script src="static/js/init_data.js"></script>

<script src="static/js/control.js"></script>

<script src="static/js/calendar.js"></script>

<script src="static/js/spiral_line.js"></script>

<script src="static/js/radar.js"></script>

<script src="static/js/main.js"></script>

<script src="static/js/information.js"></script>

<script src="static/js/time_line.js"></script>

<script src="static/js/message_cloud.js"></script>

</html>
