#calender
{
    border: dashed gray;
    border-width: 1px 1px 1px 1px;
}

rect.bordered {
    stroke: rgba(85, 85, 85, 0.95);
    stroke-width:1px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}