#calendar
{
    border: dashed gray;
    border-width: 1px 1px 1px 1px;
}

.hour{
    text-decoration:none;
    cursor:pointer;
    -webkit-user-select:none;
    -khtml-user-select:none;;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}

rect.bordered {
    stroke: #303030;
    stroke-width:.5;
}

text.mono {
    font-size: 6px;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}
