#information {
    position: relative;
    float: right;
    border: dashed gray;
    border-width: 1px 1px 0 1px;
    cursor: default;
    align-content: center;
    overflow:hidden;
}
#test_div {margin:0 auto;overflow:hidden;position:relative;list-style-type:none;}
#test_div a{position:absolute;text-decoration:none;color:#666;}
#test_div a:hover{color:#ccc;}