#information {
    position: relative;
    float: right;
    border: dashed gray;
    border-width: 1px 1px 0 1px;
    cursor: default;
    align-content: center;
}
.route_label{
    text-decoration:none;
    cursor:pointer;
    -webkit-user-select:none;
    -khtml-user-select:none;;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}
.message_scroll{

}
.message_scroll::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}
.message_scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.message_scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}