#message_cloud{
    position: relative;
    float: right;
    border: dashed gray;
    border-width: 1px 1px 0 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: default;
    align-content: center;
    overflow:hidden;
}
.name_message{
    position:absolute;
    font-family: Microsoft YaHei;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
    -webkit-user-select:none;
    -khtml-user-select:none;;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}



