.axis path {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}
.axis line {
    fill: none;
    stroke: #fffdfb;
    shape-rendering: crispEdges;
}
form {
    position: absolute;
    right: 10px;
    top: 10px;
}
.group-label {
    text-anchor: end;
}