#time_line {
    position: relative;
    float: left;
    border: dashed gray;
    border-width: 1px 0px 1px 0px;
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill:none;
    stroke: rgb(200, 198, 196);
    stroke-width: 1px;
}
.axis text{
    fill:rgb(200, 198, 196);
}