#undefine
{
    border: dashed gray;
    border-width: 0px 1px 1px 1px;
}
#define .axis path {
    fill: none;
    stroke: #999;
    stroke-dasharray: 2 3;
}
#define .axis text {
    font-size: 13px;
    stroke: #222;
}
#define text.title {
    font-size: 24px;
}
#define circle.tick {
    fill: #f3f3f3;
    stroke: #999;
    stroke-dasharray: 2 3;
}
#define path.spiral {
    fill: none;
    stroke: #ee8d18;
    stroke-width: 3px;
}