#calendar{
    position: absolute;
    box-shadow:20px 20px 50px #302b63 inset;
    top: 31%;
    left: 0.5%;
}

#calendar #calendar_main{
    position: absolute;
    top:20px;
}

#calendar #calendar_area{
    position: absolute;
    bottom: 10px;
}

.axis path, .axis line {
    fill:none;
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
}
.axis text{
    fill: rgb(255, 255, 255);
    font-size: 8px;
}

.q0-6{fill:#FF5252}
.q1-6{fill:#FB8C00}
.q2-6{fill:#FFBF3A}
.q3-6{fill:#F1E229}
.q4-6{fill:#9CD523}
.q5-6{fill:#23D561}