body{
    margin:0;
}

.widgets_left{
    position: absolute;
    width: 40%;
    z-index: 1;
    top:10px;
    left: 1%;
}
.widgets_right{
    position: absolute;
    width: 40%;
    z-index: 1;
    top:10px;
    right: 1%;
    transform: rotateY(180deg);
}

.border_1{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    transform: rotateX(180deg);
}

.border_2{
    position: absolute;
    top:0;
    right: 0;
    z-index: 1;
    transform: rotateZ(180deg);
}

.border_3{
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 1;
    transform: rotateZ(360deg);
}

.border_4{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 1;
    transform: rotateZ(270deg);
}
.border_1,
.border_2,
.border_3,
.border_4 path{
    stroke: #0e90d2;
    stroke-width: 2px;
}

.view_name{
    position: absolute;
    color: #FFFFFF;
    top:3px;
    left: 5%;
    font-size:6px
}

.view_name_r{
    position: absolute;
    color: #FFFFFF;
    top:3px;
    right: 5%;
    font-size:6px
}